:root {
  --color-background: #f7fbff;
  --color-board-border: #d4e2e5;
  --color-x: #ff7900;
  --color-o: #4dc2ff;
  --color-reset-button-bg: #ff9898;
  --color-start-button-bg: #74fe74;
  --color-text: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
}

.landing-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.landing-screen-container h1 {
  font-size: 80px;
  margin: 40px;
}

.player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin: 40px;
  padding: 60px 30px;
  background-color: #eeeeee;
  border: 3px solid var(--color-board-border);
  border-radius: 10px;
}

.vs {
  font-size: 50px;
  font-weight: bold;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 3px solid;
  border-radius: 10px;
}

.player-icon {
  width: 150px;
}

#player1-container {
  border-color: var(--color-x);
}

#player2-container {
  border-color: var(--color-o);
}

.player-container label {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

#player1-container label {
  color: var(--color-x);
}

#player2-container label {
  color: var(--color-o);
}

.player-container input {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  border: 3px solid var(--color-board-border);
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.player-container input:focus::placeholder {
  color: transparent;
}

#player1-container input:focus {
  outline: none;
  border-color: var(--color-x);
}

#player2-container input:focus {
  outline: none;
  border-color: var(--color-o);
}

#start-btn {
  background-color: var(--color-start-button-bg);
  color: var(--color-text);
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#start-btn:hover {
  background-color: #37ff37;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 20px;
}

.game-container {
  display: none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.game-container h1 {
  font-size: 50px;
  margin: 20px 0;
}

.scoreboard {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 20px;
  background-color: #eeeeee;
  border: 3px solid var(--color-board-border);
  border-radius: 10px;
}

.scoreboard__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.scoreboard-icon {
  width: 50px;
}

.game {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  border: 3px solid var(--color-board-border);
}

.game__board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: transparent;
  border: 1px solid var(--color-board-border);
  font-size: 100px;
  cursor: default;
  transition: color 0.3s ease-in-out;
}

.game__board__cell:not(.x):not(.o) {
  cursor: pointer;
}

.game__board__cell.x {
  color: var(--color-x);
}

.game__board__cell.o {
  color: var(--color-o);
}

.game__status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px;
  font-size: 20px;
}

.game__restart {
  background-color: var(--color-reset-button-bg);
  color: var(--color-text);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.game__restart:hover {
  background-color: #ff6666;
}

.score-table-container {
  grid-row: 2/3;
  grid-column: 2/3;
}

table {
  width: 100%;
  height: 40px;
  border-collapse: collapse;
  border: 3px solid var(--color-board-border);
  border-radius: 10px;
}

th,
td {
  padding: 10px;
  border: 1px solid #333;
}

thead {
  background-color: #333;
  color: #fff;
}

#p1-column {
  background-color: var(--color-x);
}

#p2-column {
  background-color: var(--color-o);
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
